<div id="js-contact-list" class="contact-list-wrap">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody id="js-contact-list-wrap">
    </tbody>
  </table>
</div>

<button id="js-modalLauncher" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Add Contact
</button>
